<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Simulateur Vote Carbone</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.1.0/dist/chartjs-plugin-annotation.min.js"></script>
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.svg') }}">
  </head>
  <body>
    <h1>Simulateur d'aide au choix pour le vote des initiatives de réduction du Bilan Gaz Effet de Serre du laboratoire I3S</h1>

    <div class="container">
      <div id="chart-container">
        <h2>Réduction : <span id="impactPercent">0</span>%
          <div class="tooltip-container">   
           <span class="info-icon">&nbsp;&nbsp;🛈</span>    
            <div class="tooltip-content"> 
              <p>Par défaut, en raison de changements structurels (par exemple sur le marché du matériel informatique, l'amélioration énergétique des bâtiments, etc.), 10 % des émissions de gaz à effet de serre sont économisées.</p>    
            </div>  
          </div>
         </h2>
        <canvas id="impactChart"></canvas>
      </div>
  <table id="selectionTable">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Choix 1</th>
        <th>Choix 2</th>
        <th>Choix 3</th>
        <th>Choix 4</th>
        <th>Choix 5</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr class="card">
        <td class="card-title"><strong>{{ row.title |safe }}</strong></td>
        {% for cell in row.parts %}
        <td class="options" data-weight="{{ cell.weight }}">
          <label>
            <input type="checkbox" class="cell-checkbox"
            {% if cell.get("checked") %}
            checked
            {% endif %}
          >
            <br>{{ cell.text |safe }}  <small class="weight"><br>({{ cell.weight|round(1) }} % de réduction)</small>
          </label>
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  <button onclick="resetSelection()">Reset</button>

  <script>
    const maxScore = {{ max_score }};
    const initialCheckedState = {{ rows|tojson }};
  </script>

  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>
